@import "tailwindcss";

:root {
  --primary: #456a4b;
  --primary-light: #798d73;
  --secondary: #a8611a;
  --background: #fffbe7;
  --placeholder: #d1c6ac;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
